# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (do NOT commit large raw data)
data/
results/
plots/
catboost_info/

# Kaggle credentials
.kaggle/

# OS / Editor files
.DS_Store
.idea/
.vscode/ 